h1 {
  font-size: 1.1rem;
  color: #2f3b52; }
  @media only screen and (min-width: 992px) {
    h1 {
      font-size: 2.5rem;
      font-weight: 600; } }

h2 {
  font-size: 0.8rem;
  color: #7b89a3; }
  @media only screen and (min-width: 992px) {
    h2 {
      font-size: 1.8rem !important;
      font-weight: 600; } }

h4 {
  font-size: 0.5rem;
  color: #7b89a3; }
  @media only screen and (min-width: 992px) {
    h4 {
      font-size: 1.4rem !important;
      font-weight: 600; } }

p {
  font-size: 0.8rem;
  color: #7b89a3; }

h1 {
  font-size: 1.1rem;
  color: #2f3b52; }
  @media only screen and (min-width: 992px) {
    h1 {
      font-size: 2.5rem;
      font-weight: 600; } }

h2 {
  font-size: 0.8rem;
  color: #7b89a3; }
  @media only screen and (min-width: 992px) {
    h2 {
      font-size: 1.8rem !important;
      font-weight: 600; } }

h4 {
  font-size: 0.5rem;
  color: #7b89a3; }
  @media only screen and (min-width: 992px) {
    h4 {
      font-size: 1.4rem !important;
      font-weight: 600; } }

p {
  font-size: 0.8rem;
  color: #7b89a3; }

nav {
  font-size: 1rem;
  background-color: #e3edf7; }
  nav .navbar-collapse {
    flex-grow: 0 !important; }
  nav .nav-item {
    margin: 0 1rem;
    text-align: center; }
  nav .nav-link {
    width: 100%;
    padding: 0.4rem 2rem;
    margin: 0.5rem 0rem;
    color: #7b89a3;
    background: #e3edf7;
    border-radius: 10px;
    box-shadow: 2.91px 2.91px 6px #cbd6ea, -2.91px -2.91px 6px white; }
    @media only screen and (min-width: 992px) {
      nav .nav-link {
        margin: 0.5rem 1rem; } }
  nav .active {
    width: 100%;
    padding: 0.4rem 2rem;
    margin: 0.5rem 0rem;
    color: #2f3b52;
    background: #e3edf7;
    border-radius: 10px;
    box-shadow: inset 2.91px 2.91px 6px #cbd6ea, inset -2.91px -2.91px 6px white; }
    @media only screen and (min-width: 992px) {
      nav .active {
        margin: 0.5rem 1rem; } }

.navbar-light .navbar-toggler {
  color: #7b89a3;
  border-color: none; }

#home {
  position: relative;
  background-color: #e3edf7; }
  #home .mainContainer {
    /*
    section:nth-child(even) { background: white }
    section:nth-child(odd) { background: #f8f8f8}
    */ }
    #home .mainContainer section {
      width: 100%;
      min-height: 100vh;
      justify-content: center;
      align-items: center; }
      #home .mainContainer section .block {
        width: 100%;
        min-height: 100vh;
        justify-content: center;
        align-items: center; }
    #home .mainContainer .cover {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center; }
      #home .mainContainer .cover img {
        width: 6rem; }
      #home .mainContainer .cover .brand {
        padding: 2rem;
        color: #7b89a3 !important; }
    #home .mainContainer .aboutme .block {
      text-align: center;
      flex-direction: column; }
      #home .mainContainer .aboutme .block .textBlock {
        background: #e3edf7;
        border-radius: 10px;
        box-shadow: 2.91px 2.91px 6px #cbd6ea, -2.91px -2.91px 6px white;
        max-width: 350px;
        padding: 2rem; }
      #home .mainContainer .aboutme .block img {
        margin: 2rem;
        width: 5rem;
        background: #e3edf7;
        border-radius: 10px;
        box-shadow: 2.91px 2.91px 6px #cbd6ea, -2.91px -2.91px 6px white;
        padding: 0.5rem;
        border-radius: 89px; }
        @media only screen and (min-width: 992px) {
          #home .mainContainer .aboutme .block img {
            margin: 0 2rem; } }
      @media only screen and (min-width: 992px) {
        #home .mainContainer .aboutme .block {
          text-align: left;
          flex-direction: row; } }
    #home .mainContainer .services .block {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      #home .mainContainer .services .block .textBlock {
        max-width: 350px;
        padding: 0rem; }
      #home .mainContainer .services .block .servicesCards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center; }
        #home .mainContainer .services .block .servicesCards .card {
          padding: 2rem;
          margin: 1rem;
          background: #e3edf7;
          border-radius: 10px;
          box-shadow: 2.91px 2.91px 6px #cbd6ea, -2.91px -2.91px 6px white;
          border: none !important; }
        @media only screen and (min-width: 768px) {
          #home .mainContainer .services .block .servicesCards {
            flex-direction: row; } }
        @media only screen and (min-width: 992px) {
          #home .mainContainer .services .block .servicesCards {
            flex-direction: row; } }
        #home .mainContainer .services .block .servicesCards img {
          margin: 1rem;
          width: 5rem;
          object-fit: none;
          background: #e3edf7;
          border-radius: 10px;
          box-shadow: inset 2.91px 2.91px 6px #cbd6ea, inset -2.91px -2.91px 6px white;
          padding: 0.5rem;
          border-radius: 89px; }
          @media only screen and (min-width: 992px) {
            #home .mainContainer .services .block .servicesCards img {
              margin: 0 2rem; } }
      @media only screen and (min-width: 992px) {
        #home .mainContainer .services .block {
          text-align: left; } }

/*# sourceMappingURL=home.css.map */
