// Responsive mixins 
@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin overBox {
  background: $bgUplevel;
  border-radius: 10px;
  box-shadow: 2.91px 2.91px 6px $shadowBox, -2.91px -2.91px 6px $lightBox;
}

@mixin insetBox {
  background: $bgUplevel;
  border-radius: 10px;
  box-shadow: inset 2.91px 2.91px 6px $shadowBox, inset -2.91px -2.91px 6px $lightBox;
}
