@import "mixin";
@import "base";
nav{
        font-size: 1rem;     
        background-color: $bgUplevel;
        .navbar-collapse {
            flex-grow: 0 !important;   
        }
        .nav-item{           
            margin: 0 1rem ; 
            text-align: center;         
        }
        .nav-link{
            width: 100%;
            padding: 0.4rem 2rem;
            margin: 0.5rem 0rem ;
            color:$firstColor;
            @include overBox;
            @include desktop{
                margin: 0.5rem 1rem ;
            }
        }
        .active
        {
            width: 100%;
            padding: 0.4rem 2rem;
            margin: 0.5rem 0rem;  
            color:$secondColor;
            @include insetBox;
            @include desktop{
                margin: 0.5rem 1rem ;
            }       
        }
        
    }
    .navbar-light .navbar-toggler {
        color: $firstColor;
        border-color: none;
    }

