//Import Partials
@import "mixin";
@import "base";
@import "nav";

#home{
    background-color: $bgUplevel;
    .mainContainer{
       
        @include desktop{
            h1{
                font-size: 3rem;
               
            }
        }
      
        section{
            width: 100%;
            height: 100vh;
        }
        /*
        section:nth-child(even) { background: white }
        section:nth-child(odd) { background: #f8f8f8}
        */
    }
}